<link rel="stylesheet" href="/css/form.css">

<div class="blog-container">
    <h1>Sign In</h1>
    <form action="/users/create-session" method="POST" class="blog-form">
        <input type="email" name="email" placeholder="Email" class="input-field">
        <input type="password" name="password" placeholder="Password" class="input-field">
        <input type="submit" value="Sign In" class="submit-button">
    </form>
</div>